* {
    font-family: "Geist", sans-serif;
}

.divider {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider::before,
.divider::after {
    height: 2px;
}

.card-divider {
    display: flex;
    align-items: center;
    margin:8px 0;
}

.card-divider::before,
.card-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #cccc;
}